.form-textarea {
    display: flex;
    align-items: center;
}

.form-textarea__label {
    flex: 1 1 50%;
    padding-right: 1rem;
    text-align: right;
}

.form-textarea__field {
    flex: 1 1 50%;
}
