.form-input {
    display: flex;
    align-items: center;
}

.form-input__label {
    flex: 1 1 50%;
    padding-right: 1rem;
    text-align: right;
}

.form-input__field {
    flex: 1 1 50%;
}

.form-input + .form-input {
    margin-top: .5rem;
}
