.competition-form {
    width: 50vw;
}

.competition-form__buttons {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.form-input + .form-input,
.form-input + .form-choices,
.form-choices + .form-input,
.form-choices + .form-choices {
    margin-top: .5rem;
}
