.component--default-layout {
    display: grid;
    grid-template-columns: 250px calc(100% - 250px - 1rem);
    grid-column-gap: 1rem;
}

.default-layout__sidebar {
    grid-column: 1 / 2;
    background: #002d6e;
    color: #E8EAF6;
}

.default-layout__sidebar a {
    color: #E8EAF6;
}

.default-layout__sidebar a:hover,
.default-layout__sidebar a:focus {
    color: #9EA8DB;
}

.default-layout__content {
    grid-column: 2 / 3;
}

.default-layout--has-sidebar-collapsed {
    grid-template-columns: 3rem calc(100% - 4rem);
}

.default-layout--has-sidebar-collapsed .nav__link-label,
.default-layout--has-sidebar-collapsed .nav-toggle__app-name {
    transform: scaleX(0);
}

.default-layout--has-sidebar-collapsed .nav-toggle__app-name {
    max-width: 0;
    padding-left: 0;
}
